p.ex1 {
    max-width: 1600px;
  }
  p {
    margin: 0 auto;
  }
body {
    background-color: #ce2828; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}